---
import { getSession } from "auth-astro/server";
import ChildReact from '@/lib/components/ChildReact.tsx'
import Navigation from "@/lib/components/Navigation.tsx";

interface Props {
  title?: string;
  icon?: string;
  hideNav?: boolean;
}
const {
  title = "Story Blend AI",
  icon = "/logoStoryBlend.png",
  hideNav = false,
} = Astro.props;
const session = await getSession(Astro.request);
const pathname = Astro.url.pathname
---

<html lang="es" class="dark dark:text-foreground dark:bg-background">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href={icon} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <ChildReact client:idle>
      {hideNav ? "" : <Navigation pathname={pathname} usersession={session?.user} client:idle/>}
      <slot></slot>
    </ChildReact>
    
  </body>
</html>
